{% extends 'base.html' %}
{% block title %}問題一覧{% endblock %}
{% block content %}
<h2>問題一覧</h2>
<table class="tbl-r table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col" class="center">No.</th>
        <th scope="col" class="center">Quiz</th>
        <th scope="col" class="center">Answer</th>
        <th scope="col" class="center">Category</th>
        <th scope="col" class="center" id="last">Sub Category</th>
    </tr>
    </thead>
    {% for quiz in object_list %}
    <tr>
        <td class="big"><a href="{% url 'app:update_quiz' pk=quiz.id %}">{{ quiz.pk }}</a></td>
        <td>{{ quiz.quiz_content }}</td>
        <td>{{ quiz.answer }}</td>
        <td>{{ quiz.category }}</td>
        <td id="last">{{ quiz.sub_category }}</td>
    </tr>
    {% endfor %}
</table>
{% include 'pagination2.html' %}
{% endblock %}
